USE [master]
GO
/****** Object:  Database [Controle de estoque]    Script Date: 22/11/2021 17:59:03 ******/
CREATE DATABASE [Controle de estoque]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Controle de estoque', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Controle de estoque.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Controle de estoque_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Controle de estoque_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Controle de estoque].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Controle de estoque]
GO
/****** Object:  Table [dbo].[Estoque]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estoque](
	[idEstoque] [int] IDENTITY(1,1) NOT NULL,
	[dataValEstoque] [date] NOT NULL,
	[numeroLote] [varchar](50) NOT NULL,
	[qtdEstoque] [int] NOT NULL,
	[idProduto] [int] NOT NULL,
	[idFornecedor] [int] NOT NULL,
 CONSTRAINT [PK_Estoque] PRIMARY KEY CLUSTERED 
(
	[idEstoque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[idProduto] [int] IDENTITY(1,1) NOT NULL,
	[nomeProduto] [varchar](50) NULL,
	[descProduto] [varchar](50) NULL,
	[precoProduto] [decimal](9, 2) NULL,
	[idSetor] [int] NOT NULL,
	[fotoProduto] [varbinary](max) NULL,
 CONSTRAINT [PK_Produto] PRIMARY KEY CLUSTERED 
(
	[idProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[EstoqueQuantidadePorProduto]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[EstoqueQuantidadePorProduto]
as

	select SUM(e.qtdEstoque) as "quantidadePorProduto", p.nomeProduto
	from Estoque e inner join Produto p on e.idProduto = p.idProduto
	group by p.nomeProduto


	
	
GO
/****** Object:  View [dbo].[ProdutoENumLote]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ProdutoENumLote]
as

	select p.idProduto, p.nomeProduto, e.numeroLote
	from Estoque e inner join Produto p on e.idProduto = p.idProduto


	
	
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nomeCliente] [varchar](50) NULL,
	[cpfCliente] [varchar](50) NULL,
	[enderecoCliente] [varchar](50) NULL,
	[telefoneCliente] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedor]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[idFornecedor] [int] IDENTITY(1,1) NOT NULL,
	[nomeFornecedor] [varchar](50) NULL,
	[cnpjFornecedor] [varchar](50) NULL,
	[telefoneFornecedor] [varchar](50) NULL,
 CONSTRAINT [PK_Fornecedor] PRIMARY KEY CLUSTERED 
(
	[idFornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[idFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[cpfFuncionario] [varchar](50) NULL,
	[nomeFuncionario] [varchar](50) NULL,
	[dataNascFuncionario] [varchar](50) NULL,
	[enderecoFuncionario] [varchar](50) NULL,
	[telefoneFuncionario] [varchar](50) NULL,
	[cargoFuncionario] [varchar](50) NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[idFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Itens_Pedidos]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itens_Pedidos](
	[idItensPedidos] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NULL,
	[idEstoque] [int] NULL,
	[quantidadeItensPedido] [int] NULL,
	[precoItensPedido] [decimal](9, 2) NULL,
 CONSTRAINT [PK_Itens_Pedidos] PRIMARY KEY CLUSTERED 
(
	[idItensPedidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamento]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamento](
	[idPagamento] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NOT NULL,
	[formaPagamento] [varchar](50) NOT NULL,
	[quantidadeParcela] [int] NOT NULL,
	[precoTotal] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_Pagamento] PRIMARY KEY CLUSTERED 
(
	[idPagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcela]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcela](
	[idParcela] [int] IDENTITY(1,1) NOT NULL,
	[idPagamento] [int] NULL,
	[numeroParcela] [int] NULL,
	[precoParcela] [decimal](9, 2) NULL,
 CONSTRAINT [PK_Parcela] PRIMARY KEY CLUSTERED 
(
	[idParcela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[dataPedido] [date] NULL,
	[preco] [decimal](9, 2) NULL,
	[idFuncionario] [int] NULL,
	[idCliente] [int] NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setor]    Script Date: 22/11/2021 17:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setor](
	[idSetor] [int] IDENTITY(1,1) NOT NULL,
	[nomeSetor] [varchar](50) NULL,
 CONSTRAINT [PK_Setor] PRIMARY KEY CLUSTERED 
(
	[idSetor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idCliente], [nomeCliente], [cpfCliente], [enderecoCliente], [telefoneCliente]) VALUES (1, N'Padrão', N'00000000000', N'padrão', N'99999999999')
INSERT [dbo].[Cliente] ([idCliente], [nomeCliente], [cpfCliente], [enderecoCliente], [telefoneCliente]) VALUES (2, N'Luiz Augusto', N'32459043298', N'rua sao miguel', N'123123123123')
INSERT [dbo].[Cliente] ([idCliente], [nomeCliente], [cpfCliente], [enderecoCliente], [telefoneCliente]) VALUES (3, N'Pedro fernandes', N'12312312312', N'alameda sao vicente', N'1231231231')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Estoque] ON 

INSERT [dbo].[Estoque] ([idEstoque], [dataValEstoque], [numeroLote], [qtdEstoque], [idProduto], [idFornecedor]) VALUES (4, CAST(N'2023-11-22' AS Date), N'RFE#4324', 345, 1, 4)
INSERT [dbo].[Estoque] ([idEstoque], [dataValEstoque], [numeroLote], [qtdEstoque], [idProduto], [idFornecedor]) VALUES (5, CAST(N'2023-11-22' AS Date), N'DTE#987', 100, 1, 3)
INSERT [dbo].[Estoque] ([idEstoque], [dataValEstoque], [numeroLote], [qtdEstoque], [idProduto], [idFornecedor]) VALUES (6, CAST(N'2021-12-10' AS Date), N'TGED#987', 44, 2, 3)
SET IDENTITY_INSERT [dbo].[Estoque] OFF
GO
SET IDENTITY_INSERT [dbo].[Fornecedor] ON 

INSERT [dbo].[Fornecedor] ([idFornecedor], [nomeFornecedor], [cnpjFornecedor], [telefoneFornecedor]) VALUES (1, N'Sadia', N'8908934289434', N'123123123')
INSERT [dbo].[Fornecedor] ([idFornecedor], [nomeFornecedor], [cnpjFornecedor], [telefoneFornecedor]) VALUES (2, N'Nova Safra', N'987329847293', N'13123123')
INSERT [dbo].[Fornecedor] ([idFornecedor], [nomeFornecedor], [cnpjFornecedor], [telefoneFornecedor]) VALUES (3, N'Alvorada', N'1231231238743', N'1231231231')
SET IDENTITY_INSERT [dbo].[Fornecedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([idFuncionario], [cpfFuncionario], [nomeFuncionario], [dataNascFuncionario], [enderecoFuncionario], [telefoneFuncionario], [cargoFuncionario]) VALUES (1, N'12312312332', N'Gustavo', N'16-02-2000', N'campos gerais', N'1231231231', N'caixa')
INSERT [dbo].[Funcionario] ([idFuncionario], [cpfFuncionario], [nomeFuncionario], [dataNascFuncionario], [enderecoFuncionario], [telefoneFuncionario], [cargoFuncionario]) VALUES (2, N'31231243243', N'Marcus', N'22-11-2021', N'campo do meio', N'1231231231', N'Gerente')
INSERT [dbo].[Funcionario] ([idFuncionario], [cpfFuncionario], [nomeFuncionario], [dataNascFuncionario], [enderecoFuncionario], [telefoneFuncionario], [cargoFuncionario]) VALUES (3, N'13231234543', N'Lucas', N'16-01-2002', N'machado', N'1231231231', N'estoque')
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
SET IDENTITY_INSERT [dbo].[Itens_Pedidos] ON 

INSERT [dbo].[Itens_Pedidos] ([idItensPedidos], [idPedido], [idEstoque], [quantidadeItensPedido], [precoItensPedido]) VALUES (7, 3, 4, 5, CAST(4.50 AS Decimal(9, 2)))
INSERT [dbo].[Itens_Pedidos] ([idItensPedidos], [idPedido], [idEstoque], [quantidadeItensPedido], [precoItensPedido]) VALUES (8, 3, 6, 3, CAST(1.99 AS Decimal(9, 2)))
INSERT [dbo].[Itens_Pedidos] ([idItensPedidos], [idPedido], [idEstoque], [quantidadeItensPedido], [precoItensPedido]) VALUES (9, 3, 7, 2, CAST(10.79 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[Itens_Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pagamento] ON 

INSERT [dbo].[Pagamento] ([idPagamento], [idPedido], [formaPagamento], [quantidadeParcela], [precoTotal]) VALUES (2, 3, N'Crediário', 3, CAST(61.42 AS Decimal(9, 2)))
INSERT [dbo].[Pagamento] ([idPagamento], [idPedido], [formaPagamento], [quantidadeParcela], [precoTotal]) VALUES (3, 4, N'À vista', 0, CAST(150.01 AS Decimal(9, 2)))
INSERT [dbo].[Pagamento] ([idPagamento], [idPedido], [formaPagamento], [quantidadeParcela], [precoTotal]) VALUES (4, 6, N'À vista', 0, CAST(128.95 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[Pagamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Parcela] ON 

INSERT [dbo].[Parcela] ([idParcela], [idPagamento], [numeroParcela], [precoParcela]) VALUES (4, 2, 0, CAST(20.47 AS Decimal(9, 2)))
INSERT [dbo].[Parcela] ([idParcela], [idPagamento], [numeroParcela], [precoParcela]) VALUES (5, 2, 1, CAST(20.47 AS Decimal(9, 2)))
INSERT [dbo].[Parcela] ([idParcela], [idPagamento], [numeroParcela], [precoParcela]) VALUES (6, 2, 2, CAST(20.47 AS Decimal(9, 2)))
SET IDENTITY_INSERT [dbo].[Parcela] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([idPedido], [dataPedido], [preco], [idFuncionario], [idCliente]) VALUES (1, CAST(N'2021-11-22' AS Date), CAST(0.00 AS Decimal(9, 2)), 1, 2)
INSERT [dbo].[Pedidos] ([idPedido], [dataPedido], [preco], [idFuncionario], [idCliente]) VALUES (3, CAST(N'2021-11-22' AS Date), CAST(61.42 AS Decimal(9, 2)), 1, 2)
INSERT [dbo].[Pedidos] ([idPedido], [dataPedido], [preco], [idFuncionario], [idCliente]) VALUES (4, CAST(N'2021-11-22' AS Date), CAST(150.01 AS Decimal(9, 2)), 3, 1)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Produto] ON 

SET IDENTITY_INSERT [dbo].[Produto] OFF
GO
SET IDENTITY_INSERT [dbo].[Setor] ON 

INSERT [dbo].[Setor] ([idSetor], [nomeSetor]) VALUES (1, N'Alimentício')
INSERT [dbo].[Setor] ([idSetor], [nomeSetor]) VALUES (2, N'Higiene')
INSERT [dbo].[Setor] ([idSetor], [nomeSetor]) VALUES (3, N'Limpeza')
SET IDENTITY_INSERT [dbo].[Setor] OFF
GO
ALTER TABLE [dbo].[Estoque]  WITH CHECK ADD  CONSTRAINT [FK_Estoque_Fornecedor] FOREIGN KEY([idFornecedor])
REFERENCES [dbo].[Fornecedor] ([idFornecedor])
GO
ALTER TABLE [dbo].[Estoque] CHECK CONSTRAINT [FK_Estoque_Fornecedor]
GO
ALTER TABLE [dbo].[Estoque]  WITH CHECK ADD  CONSTRAINT [FK_Estoque_Produto] FOREIGN KEY([idProduto])
REFERENCES [dbo].[Produto] ([idProduto])
GO
ALTER TABLE [dbo].[Estoque] CHECK CONSTRAINT [FK_Estoque_Produto]
GO
ALTER TABLE [dbo].[Itens_Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Itens_Pedidos_Itens_Estoque] FOREIGN KEY([idEstoque])
REFERENCES [dbo].[Estoque] ([idEstoque])
GO
ALTER TABLE [dbo].[Itens_Pedidos] CHECK CONSTRAINT [FK_Itens_Pedidos_Itens_Estoque]
GO
ALTER TABLE [dbo].[Itens_Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Itens_Pedidos_TablePedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedidos] ([idPedido])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Itens_Pedidos] CHECK CONSTRAINT [FK_Itens_Pedidos_TablePedido]
GO
ALTER TABLE [dbo].[Pagamento]  WITH CHECK ADD  CONSTRAINT [FK_Pagamento_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedidos] ([idPedido])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pagamento] CHECK CONSTRAINT [FK_Pagamento_Pedido]
GO
ALTER TABLE [dbo].[Parcela]  WITH CHECK ADD  CONSTRAINT [FK_Parcela_Pagamento] FOREIGN KEY([idPagamento])
REFERENCES [dbo].[Pagamento] ([idPagamento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcela] CHECK CONSTRAINT [FK_Parcela_Pagamento]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Cliente]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Funcionario] FOREIGN KEY([idFuncionario])
REFERENCES [dbo].[Funcionario] ([idFuncionario])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Funcionario]
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD  CONSTRAINT [FK_Produto_Setor] FOREIGN KEY([idSetor])
REFERENCES [dbo].[Setor] ([idSetor])
GO
ALTER TABLE [dbo].[Produto] CHECK CONSTRAINT [FK_Produto_Setor]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'idFornecedor(estoque) - idFornecedor(fornecedor)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Estoque', @level2type=N'CONSTRAINT',@level2name=N'FK_Estoque_Fornecedor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'idProduto de estoque se relaciona com o id produto de produto
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Estoque', @level2type=N'CONSTRAINT',@level2name=N'FK_Estoque_Produto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'idCliente(Pedido) - idCliente(Cliente)
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pedidos', @level2type=N'CONSTRAINT',@level2name=N'FK_Pedidos_Cliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'idFuncionario(Pedido)-idFuncionario(Funcionario)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pedidos', @level2type=N'CONSTRAINT',@level2name=N'FK_Pedidos_Funcionario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Relaciona o idSetor de produto com o idSetor do Setor' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Produto', @level2type=N'CONSTRAINT',@level2name=N'FK_Produto_Setor'
GO
USE [master]
GO
